@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image at the Top of the Page</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header>
        <img src="/Images/logo.jpg" alt="Descriptive Alt Text" class="top-image">
        <h1>Pay only for the real estate services you need !</h1>
        <p>This is an example of a web page with an image at the top.</p>
    </header>
    <main>
        
    </main>
</body>
</html>

